:root   {
    --background-color : rgb(103, 147, 201);
    --bgcolor-button : rgb(176, 98, 250);
    --bgcolor-bottom : rgb(255, 164, 118);
    --body-bg: rgba(114, 152, 150, 0.194);

}

*   {
    font-family: 'Sometype Mono', monospace;
}

body{
    background: var(--body-bg);
}
header h1 {
    background-image: linear-gradient(
        var(--background-color) 0%,
        var( --bgcolor-bottom) 100%
    );
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 15px;
}
.first-container    {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px)    {
    #search-form    {
        width: 500px;
       
    }
}

@media screen and (min-width: 1024px)    {
    #search-form    {
        width: 300px;
        margin-left: 0;
    }
}

#result-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    
}

#info-container {
    padding-left: 0;
}
form {
    display: flex;
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    
}

form label  {
    font-size: 20px;
    margin-top: 5px;
}

#search {
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
}
label {
    margin-top: 20px;
    font-size: 30px;
}
#searchbtn  {
    border-radius: 10px;
}

.align-center   {
    align-items: center;
}
.flex-row   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.min-100-vh {
    min-height: 100vh;
}

ul  {
    list-style: none;
}

