/*Custom colors*/
:root   {
    --background-color : rgb(103, 147, 201);
    --bgcolor-bottom : rgb(255, 164, 118);
    --body-bg: rgba(114, 152, 150, 0.194);
    --cloud-color: rgb(65, 175, 243);
    --five-bg-color: rgba(199, 164, 232, 0.779);
}
/*Universal Selector to set the default font style*/
*   {
    font-family: 'Sometype Mono', monospace;
}
/*Element Selector for the body element*/
body{
    background: var(--body-bg);
}

/*Element Selector to add style to h1 element inside of the header*/
header h1 {
    background-image: linear-gradient(
        var(--background-color) 0%,
        var( --bgcolor-bottom) 100%
    );
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 15px;
}
/*Class Selector for the first-container class*/
.first-container    {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*Media query for screens up to 768px*/
@media screen and (max-width: 768px)    {
    #search-form    {
        flex-grow: 2;
    }
    .first-container    {
        align-items: center;
        justify-content: center;
    }
    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .third-container    {
        display: flex;
        flex-direction: column;
    }
    .third-container li {
        width: 300px;
    }
    .second-container   {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fiveday    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
/* Media query for screens starting from 320px */
@media screen and (min-width: 320px)    {
    .second-container   {
        display: flex;
        flex-direction: column;
    }
}
/* Media query for screens starting from 1024px*/
@media screen and (min-width: 1024px)    {
    .third-container    {
        display: flex;
        flex-direction: row;
        width: 100%
    }
    .third-container li {
       display: flex;
       margin-bottom: 10px;
    }
    .second-container   {
        display: flex;
        flex-direction: row;
        
    }
}


/*ID Selector for the result-container */
#result-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    
}
/*ID Selector for the info-container*/
#info-container {
    padding-left: 0;
}
/*Element Selector for the form element*/
form {
    display: flex;
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    
}
/*Element Selector for the label element inside of the form */
form label  {
    font-size: 20px;
    margin-top: 5px;
}

/*ID Selector for the search id */
#search {
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
}
/*Element Selector for the label element*/
label {
    margin-top: 20px;
    font-size: 30px;
}
/*ID Selector for the searchbtn */
#searchbtn  {
    border-radius: 10px;
}
/*Element Selector for the ul element*/
ul  {
    list-style: none;
}
/*Class Selector for the title class*/
.title{
    display: flex;
    flex-direction: row;
   align-items: center;
}
/*ID Selector for the history element*/
#history {
    display: flex;
    flex-direction: column;
    margin: 30px;
}
/*Element Selector for the button elements inside of the history id */
#history button {
    margin: 10px;
    border-radius: 10px;
}

/*Element Selector for the ul element inside of the third-container class*/
.third-container ul {
    background-color:var(--five-bg-color);
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    width: 100%;
}
/*Element Selector for the li elements inside of the fiveday-container id*/
#fiveday-container li {
    padding: 10px;
}
/*ID Selector for the search-form element*/
#search-form   {
display: flex;
flex-direction: column;
}
